@font-face {
    font-family: "Roboto condensed";
    src: url('robotocondensed-light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Fontello";
    src: url('fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: 100%;
    text-align: center;
    font-family: "Roboto condensed";

    background-repeat: no-repeat;
    background-attachment: fixed;
}

body img {
    width: 250px;
}

body.tricolor {
    background-image: linear-gradient(
        to bottom right,
        white,
        white 33%,
        #05F 33%,
        #05F 66%,
        #F22 66%);
}


body.ntv {
        background-image: linear-gradient(
        to bottom right,
        white,
        white 33%,
        #39A82A 33%,
        #39A82A 66%,
        white 66%);
}


body.telekarta {
    background-image: linear-gradient(
        to bottom right,
        white,
        white 14%,
        #FFD300 14%,
        #FFD300 28%,
        #56C4CF 28%,
        #56C4CF 42%,
        #A5CD39 42%,
        #A5CD39 56%,
        #EC0677 56%,
        #EC0677 70%,
        #0080C5 70%,
        #0080C5 84%,
        black 84%,
        black 100%
        );
}

hr {
    color: rgba(0, 0, 0, 0.4);
}

ul {
    list-style-type: circle;
}

ul li ul {
    list-style-type: square;
}

b {
    font-weight: bold;
}

.nb {
    white-space: nowrap;
}

.dash {
    font-size: 14px;
    word-spacing: -1px;
}

a {
    color: white;
}

.wrapper {
    margin: auto;
    display: table;
    height: 100%;
    width: 100%;
}

header {
    min-height: 140px;

    color: white;
    /*background: rgba(64, 64, 64, 0.5);*/
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

header.tricolor {
    background: rgba(0, 128, 255, 0.6);
}

header.ntv {
    background: rgba(57, 168, 42, 0.6);
}


header.telekarta {
    background: rgba(0, 0, 0, 0.5);
}

.figure_dash {
    vertical-align: 5px;
    font-size: 24px;
}

nav {
    min-height: 80px;
}

h1 {
    min-height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
}

h2 {
    min-height: 30px;
    margin-top: 60px;
    margin-bottom: 10px;
    
    font-size: 24px;
}

h3 {
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    
    font-size: 16px;
}

#headline {
    position: absolute;
    left: 20px;
    height: 40px;
}


#official_dealer {
    display: block;
    font-size: 20px;
}


#contacts {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 30px;
    line-height: 40px;
}


main {
    display: table-row;
    height: 100%;
    max-width: 680px;
}


.main_content {
    display: inline-block;
    max-width: 640px;
    padding: 40px;
    margin: 40px 0;

    text-align: left;

    background: rgba(255, 255, 255, 0.9);
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main_content a {
    color: #05F;
}

#logo {
    padding: 15px;
    margin-right: 20px;
    background: white;
    float: left;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 20px;
}

.tarif {
    clear: left;
    margin-bottom: 40px;
}

.tarif>img {
    float: left;
    padding-right: 20px;
}

.more_info {
    color: #05F;
}

h2 {
    margin-top: 40px;
}

#tv_program {
    clear: both;
    margin-top: 100px;
}

#equipment ~ h3.first {
    margin-top: 20px;
}

.img_firmware {
    display: inline-block;
    max-width: 250px;
}

.img_firmware img {
    margin-top: 8px;
}

.img_firmware a {
    display: inline-block;
    padding: 10px;
}

.img_firmware a:link {
    text-decoration: none;
}

.img_firmware a:hover {
    text-decoration: underline;
}

#b532m_c592 {
    margin-bottom: 40px;
}

#b532m_c592 a {
    margin-top: 10px;
    padding: 0;
}

.equipment_specs {
    display: inline-block;
    max-width: 380px;
    vertical-align: top;
}

.equipment_specs ul {
    padding-left: 30px;
    margin: 0;
}

.equipment_specs p {
    padding-left: 15px;
}

.hidden_button {
    display: inline-block;
    height: 20px;
    position: relative;
    top: -40px;
    padding: 10px;
    z-index: 1;
}

.hidden_button:after {
    display: inline-block;
    width: 24px;
    height: 19px;  
    font-size: 12px;
    padding-top: 5px;
    vertical-align: middle !important;
    text-align: center;
    content: '▼';
    transform: rotate(-90deg);
    transition: 0.9s;
}

body.tricolor .hidden_button {
    color: rgb(0, 85, 255);
}

.detailed_specs b {
    margin-left: 10px;
}

.detailed_specs_button {
    display: block;
    position: relative;
    width: 214px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.detailed_specs_button:hover + div {
    text-decoration: underline;
}

.detailed_specs_button + div + div {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.detailed_specs_button:checked + div + div {
    max-height: 9999px;
}

.detailed_specs_button:checked + div::after {
    transform: rotate(0deg);
    transition: 0.4s;
}

.detailed_specs {
    position: relative;
    top: -40px;
}

.detailed_specs ul {
    margin-top: 6px;
    padding-left: 25px;
}

#tricolor_internet {
    clear: both;
    margin-top: 100px;
}


.ntv_chars {
    display: inline-block;
    float: right;
    width: 50%;
    margin-top: 0;
}

#ntv_equipment {
    margin-top: 20px;
}

#ntv_equipment ~ img {
    display: inline-block;
}

.ntv_equipment_details {
    clear: both;
    margin-bottom: 40px;
}

#ntv_additional p:nth-child(2n) {
    display: inline-block;
    background: rgba(57, 168, 42, 0.11);
}


#addresses ~ img {
    width: inherit;
}

body.telekarta a {
    color:#0080C5; 
}

header.telekarta a,
footer.telekarta a {
    color:white;
}

.telekarta_equipment_details {
    clear: both;
}

.telekarta_price {
    color: #EC0677;
}

#telekarta_additional_header {
    color: #EC0677;
}

#telekarta_additional p:nth-child(2n) {
    display: inline-block;
    background: rgba(0, 0, 0, 0.06);
}

.telekarta_headers {
    font-weight: bold;
}

#packages ~ img {
    width: 100%;
}

.tarif img {
    width: inherit;
}

#channels span {
    font-weight: bold;
}

#channels h3 {
    color: #39A82A;
}

.ntv_price {
    color: #39A82A;
}


#exchange ~ h3 {
    margin-top: 40px;
}

#exchange ~ img {
    display: block;
    margin-bottom: 20px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-top: -6px;
}

.tricolor_price {
    color: #F22;
}

#tricolor_bonus {
    margin-top: 0px;
}

#addresses ~ img {
    max-width: 100%;
    margin-bottom: 60px;
}

#addresses ~ img:last-of-type {
    margin-bottom: 0;
}

.noscript_map {
    width: inherit;
    max-width: 100%;
}

.shop {
    width: inherit;
    max-width: 100%
}

#market,
#antenniy_mir2,
#salon {
    width: 100%;
    max-height: 480px;
}

/* ~~~~~~~~~ Карты ~~~~~~~~~~~~~ */

/*.ymaps-2-1-56-map{
    pointer-events: none;
}*/


footer {
    min-height: 60px;
    width: 100%;

    color: white;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.5);
}

footer.tricolor {
    background: rgba(0, 128, 255, 0.6);
}

footer.ntv {
    background: rgba(57, 168, 42, 0.6);
}


footer.telekarta {
    background: rgba(0, 0, 0, 0.5);
}


#footer_div {
    min-height: 60px;
    line-height: 60px;
}

#year {
    float: left;
    padding-left: 20px;
}

#social_buttons a {
    font-family: Fontello;
    display: inline-block;
    text-decoration: none; 
    width: 40px;
    height: 60px;
}

.bottom_nav {
    display: inline-block;
    height: 60px;
}

#made_in {
    float: right;
    padding-right: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 479px) {

    .equipment_specs ul {
        padding-left: 16px;
    }

    .ntv_chars {
        width: 100%;
    }
    
    .telekarta_chars {
        width: 100%
    }
}

@media screen and (max-width: 639px) {

    .main_content {
        padding: 40px 0;
    }
    
    #market > ymaps,
    #antenniy_mir2 > ymaps,
    #salon > ymaps{
        height: 70vh !important;
    }
    
    #year {
        float: none;
    }
    
    #made_in {
        float: none;
    }
}

@media screen and (max-width: 719px) {
    .ntv_chars {
        float: none;
        display: block;
    }
    
    .telekarta_chars {
        float: none;
        display: block;
    }
}

@media screen and (max-width: 959px) {
    #contacts {
        position: static;
    }
}
