@font-face {
    font-family: "Roboto condensed";
    src: url('robotocondensed-light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "Fontello";
    src: url('fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    height: calc(100% + 60px);
    text-align: center;
    font-family: "Roboto condensed";
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body img {
    width: 250px;
}

body#tricolor {
    background-image: linear-gradient(
        to bottom right,
        white,
        white 33%,
        #05F 33%,
        #05F 66%,
        #F22 66%
    );
}

body#ntv {
        background-image: linear-gradient(
        to bottom right,
        white,
        white 33%,
        #39A82A 33%,
        #39A82A 66%,
        white 66%
    );
}

body#telekarta {
    background-image: linear-gradient(
        to bottom right,
        white,
        white 14%,
        #FFD300 14%,
        #FFD300 28%,
        #56C4CF 28%,
        #56C4CF 42%,
        #A5CD39 42%,
        #A5CD39 56%,
        #EC0677 56%,
        #EC0677 70%,
        #0080C5 70%,
        #0080C5 84%,
        black 84%,
        black 100%
    );
}


hr {
    color: rgba(0, 0, 0, 0.4);
}


ul {
    list-style-type: circle;
}


b {
    font-weight: bold;
}


.primary {
    margin-bottom: 50px;
}


.nb {
    white-space: nowrap;
}

.nnbsp {
    white-space: nowrap;
    word-spacing: -2px;
}


.dash {
    font-size: 14px;
    word-spacing: -1px;
}


.wrapper {
    display: table;
    height: 100%;
    width: 100%;
    margin: auto;
}


header {
    min-height: 140px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

header a {
    border-bottom: 2px solid white;
    color: white;
    text-decoration: none;
}

header a[itemprop="brand"] {
    border-bottom: none;
}

header div::selection,
header a::selection {
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

header.tricolor {
    background: rgba(0, 128, 255, 0.6);
}

header.ntv {
    background: rgba(57, 168, 42, 0.6);
}

header.telekarta {
    background: rgba(0, 0, 0, 0.5);
}


nav {
    min-height: 80px;
}


.figure_dash {
    vertical-align: 5px;
    font-size: 24px;
}


h1 {
    margin: 0;
    font-size: 30px;
    line-height: 40px;
    font-weight: normal;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}


.official_dealer {
    font-size: 20px;
}


.contacts {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 30px;
    line-height: 40px;
}


main {
    display: table-row;
    max-width: 680px;
    height: 100%;
}

main a:link,
main a:visited {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}


.main_content {
    display: inline-block;
    max-width: 640px;
    padding: 40px;
    margin: 40px 0;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.main_content a {
    color: #05F;
}


#logo {
    float: left;
    padding: 15px;
    margin-right: 20px;
    background: white;
}


p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 20px;
}

section.equipment {
    margin-bottom: 10px;
}

.equipment section {
    margin-bottom: -10px;
}


.tarif {
    clear: left;
    min-height: 80px;
    margin-bottom: 10px;
}

.tarif img {
    width: inherit;
}

.tarif > img {
    float: left;
    width: 83px;
    height: 80px;
    padding-right: 20px;
}

.tarif > p {
    margin-top: 5px;
}


#detailed_packages {
    clear: left;
    margin-top: 20px;
}


.img_firmware {
    display: inline-block;
    max-width: 250px;
}

.img_firmware img {
    margin-top: 4px;
}

.img_firmware a {
    display: inline-block;
    padding: 10px 10px 10px 0;
}


#b532m_c592 {
    margin-bottom: 40px;
}

#b532m_c592 a {
    margin-top: 10px;
    padding: 0;
}


.equipment_specs {
    display: inline-block;
    max-width: 380px;
    vertical-align: top;
}

.equipment_specs ul {
    margin: 0;
    padding-left: 30px;
}

.equipment_specs p {
    padding-left: 15px;
}


.hidden_button {
    display: inline-block;
    position: relative;
    z-index: 1;
    height: 20px;
    top: -40px;
    padding: 10px 10px 10px 0;
    color: rgb(0, 85, 255);
}

.hidden_button:after {
    display: inline-block;
    width: 24px;
    height: 19px;
    padding-top: 5px;
    vertical-align: middle !important;
    text-align: center;
    content: '▼';
    font-size: 12px;
    transform: rotate(-90deg);
    transition: 0.9s;
}


.equipment_button {
    width: 200px;
}


.detailed_specs_button {
    display: block;
    position: relative;
    z-index: 2;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.detailed_specs_button:hover + div {
    text-decoration: underline;
}

.detailed_specs_button + div + div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.detailed_specs_button:checked + div + div {
    max-height: 1999px;
    transition: max-height 0.7s ease-in;
}

.detailed_specs_button:checked + div::after {
    transform: rotate(0deg);
    transition: 0.7s;
}

.detailed_specs {
    position: relative;
    top: -40px;
}

.detailed_specs ul {
    margin-top: 6px;
    padding-left: 15px;
}


#tricolor_internet {
    clear: both;
    margin-top: 40px;
    margin-bottom: -10px;
}

#tricolor_internet > p + div {
    margin-top: 60px;
}


#ntv_internet > p + div {
    margin-top: 60px;
}

#tricolor_internet_tarelka {
    margin-bottom: 40px;
}

#tricolor_internet_ol_ul {
    margin-left: -29px;
}

#ntv_coverage_area {
    margin-top: 20px;
}


.internet_tarif {
    margin-top: -30px;
}


.internet_button {
    width: 360px;
}

.internet_button + div {
    padding-left: 0;
}

.manuals {
    margin-top: -40px;
}


.ntv_section {
    margin-bottom: 50px;
}

#ntv_internet_speed {
    margin: 10px 0;
}

#ntv_internet_speed ul {
    padding-left: 40px;
}

#ntv_additional_packages p:nth-child(2n) {
    display: inline-block;
    background: rgba(57, 168, 42, 0.11);
}

#ntv_internet_speed {
    margin-left: 15px;
}

.addresses {
    margin-bottom: 0;
}

.addresses div:first-of-type {
    margin-top: 10px;
}

.addresses > img {
    width: inherit;
}

#main_telekarta a {
    color:#0080C5; 
}


#telekarta_additional_header {
    color: #EC0677;
}

#telekarta_additional p:nth-child(2n) {
    display: inline-block;
    background: rgba(0, 0, 0, 0.07);
}


#channels span {
    font-weight: bold;
}

#channels h3 {
    color: #39A82A;
}


.exchange > section > img {
    display: block;
    margin-bottom: 20px;
}

.exchange > section {
    margin-bottom: 40px;
}


.price {
    float: right;
    margin-top: -6px;
    font-size: 20px;
    font-weight: 700;
}

.tricolor_price {
    color: #F22;
}

.ntv_price,
.telekarta_price {
    color: #EC0677;
}


#tarif_ediniy_ultra_hd_module_delgado {
    padding-left: 10px;
}

#tricolor_bonus {
    margin-top: 0px;
}


.addresses > img {
    max-width: 100%;
}

.addresses > img:last-of-type {
    margin-bottom: 0;
}


.shop {
    margin-top: 30px;
    width: inherit;
    max-width: 100%
}


.noscript_map {
    width: inherit;
    max-width: 100%;
}


#market,
#antenniy_mir2,
#salon {
    width: 100%;
    max-height: 480px;
}

/* ~~~~~~~~~ Карты ~~~~~~~~~~~~~ */

/*.ymaps-2-1-56-map{
    pointer-events: none;
}*/


footer {
    min-height: 60px;
    width: 100%;
    color: white;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.5);
}

footer a {
    color: white;
}

footer.tricolor {
    background: rgba(0, 128, 255, 0.6);
}

footer.ntv {
    background: rgba(57, 168, 42, 0.6);
}

footer.telekarta {
    background: rgba(0, 0, 0, 0.5);
}


.footer_div {
    min-height: 60px;
    line-height: 60px;
}

.year {
    float: left;
    padding-left: 20px;
}

.social_buttons a {
    display: inline-block;
    width: 40px;
    height: 60px;
    font-family: Fontello;
    text-decoration: none; 
}

.bottom_nav {
    display: inline-block;
    height: 60px;
    padding: 0 10px;
}

.made_in {
    float: right;
    padding-right: 20px;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 479px) {

    .equipment_specs ul {
        padding-left: 16px;
    }

}


@media screen and (max-width: 639px) {

    .main_content {
        padding: 40px 0;
    }

    #market > ymaps,
    #antenniy_mir2 > ymaps,
    #salon > ymaps{
        height: 70vh !important;
    }

    .year {
        float: none;
    }

    .made_in {
        float: none;
    }
}


@media screen and (max-width: 959px) {
    .contacts {
        position: static;
    }
}
