body {
    overflow-y: scroll;
}


.main_content {
    min-height: calc(100vh - 362px);
}


.tricolor_channels img {
    max-width: 110px;
    max-height: 50px;
    padding: 8px;
}


.package {
    display: none;
    margin-top: 50px;
}

.package > div > div {
    margin-bottom: 10px;
}

.package > div > div:first-child {
    margin-left: 5px;
}


.channels_group {
    margin-top: 40px;
}

.channels_group > div:first-child > span {
    font-size: 20px;
    font-weight: bold;
}

.channels_group > div:first-child > span + span {
    font-size: 18px;
    font-weight: bold;
}


.package_description img {
    width: 93px;
    height: 90px;
}

.package_description span {
    vertical-align: 38px;
    padding-left: 20px;
}


.channel_button {
    display: inline-block;
    height: 20px;
    padding: 10px;
}

.channel_button div {
    height: 27px;
    border-bottom: 3px solid transparent;
    white-space: nowrap;
    text-align: center;
}

input {
    cursor: pointer;
    opacity: 0;
}

input[name="radio_channel_button"]:hover + div > div {
    border-bottom-color: rgba(0, 119, 255, 0.4);
}

input[name="radio_channel_button"]:checked + div > div {
    border-bottom-color: rgba(0, 119, 255, 1);
}

input[name=radio_channel_button] {
    display: inline-block;
    position: relative;
    z-index: 2;
    height: 40px;
    vertical-align: bottom;
}


.package_description {
    font-size: 24px;
}


#ediniy_hidden_button {
    width: 55px;
    margin-left: -75px;
}

#ediniy_button {
    width: 75px;
}

#ediniy_button:checked ~ #ediniy {
    display: block;
}


#extra_hidden_button {
    width: 51px;
    margin-left: -71px;
}

#extra_button {
    width: 71px;
}

#extra_button:checked ~ #extra {
    display: block;
}


#ediniy_ultra_hd_hidden_button {
    width: 127px;
    margin-left: -147px;
}

#ediniy_ultra_hd_button {
    width: 147px;
}

#ediniy_ultra_hd_button:checked ~ #ediniy_ultra_hd {
    display: block;
}


#ultra_hd_hidden_button {
    width: 73px;
    margin-left: -93px;
}

#ultra_hd_button {
    width: 93px;
}

#ultra_hd_button:checked ~ #ultra_hd {
    display: block;
}


#detskiy_hidden_button {
    width: 59px;
    margin-left: -79px;
}

#detskiy_button {
    width: 79px;
}

#detskiy_button:checked ~ #detskiy {
    display: block;
}


#multirum_hidden_button {
    width: 78px;
    margin-left: -98px;
}

#multirum_button {
    width: 98px;
}

#multirum_button:checked ~ #multirum {
    display: block;
}


#nochnoy_hidden_button {
    width: 54px;
    margin-left: -74px;
}

#nochnoy_button {
    width: 74px;
}

#nochnoy_button:checked ~ #nochnoy {
    display: block;
}


#match_primier_hidden_button {
    width: 112px;
    margin-left: -132px;
}

#match_primier_button {
    width: 132px;
}

#match_primier_button:checked ~ #match_primier {
    display: block;
}


#match_futbol_hidden_button {
    width: 100px;
    margin-left: -120px;
}

#match_futbol_button {
    width: 120px;
}

#match_futbol_button:checked ~ #match_futbol {
    display: block;
}


#tricolor_online_hidden_button {
    width: 119px;
    margin-left: -139px
}


#tricolor_online_button {
    width: 139px;
}

#tricolor_online_button:checked ~ #tricolor_online {
    display: block;
}


#bazoviy_hidden_button {
    width: 63px;
    margin-left: -83px;
}

#bazoviy_button {
    width: 83px;
}

#bazoviy_button:checked ~ #bazoviy  {
    display: block;
}